* {
	margin: 0;
	padding: 0;
}

html, button {
	font-size: 16px;
	color: var(--color-black);
}

:root {
	--color-bg: #e0fbfc;
	--color-black: #293241;
	--color-accent: #ee6c4d;
	--color-main-light: #98c1d9;
	--color-main-dark: #3d5a80;
}

body {
	background-color: var(--color-bg);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px;
	gap: 64px;
}

#game-field {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 12px;
}

.cell {
	background-color: var(--color-main-light);
	border-radius: 12px;
}