@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cabin:wght@500;700&display=swap');

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

* {
	margin: 0;
	padding: 0;
}

html, button {
	font-size: 16px;
    font-family: 'Cabin', sans-serif;
	color: var(--color-black);
}

:root {
	--color-bg: #e0fbfc;
	--color-black: #293241;
	--color-accent: #ee6c4d;
	--color-main-light: #98c1d9;
	--color-main-dark: #3d5a80;
}

body {
	background-color: var(--color-bg);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 64px;
	gap: 64px;
}

#player-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 180px;
}

.player-label {
	width: 320px;
	grid-template-columns: repeat(2, 1fr);
	display: grid;
	align-items: center;
	gap: 24px;
	font-size: 1.4rem;
	border-radius: 32px;
	background-color: var(--color-main-light);
	transition-duration: 0.3s;
}

#player-1-label {
	justify-self: end;
}

.player-label.active > .player-name {
	background-color: var(--color-accent);
	color: white;
}

.player-score {
	margin: 0 24px;
	color: var(--color-main-dark);
}

.player-name {
	background-color: var(--color-main-light);
	border-radius: 32px;
	text-align: center;
	background-color: var(--color-main-dark);
	padding: 16px 32px;
	color: var(--color-bg);
	transition-duration: 0.3s;
}

#robot-menu {
	display: flex;
	gap: 16px;
	border-radius: 32px;
	transition-duration: 0.3s;
}

#robot-menu.active {
	background-color: var(--color-black);
}

#robot-icon {
	width: 36px;
	margin-right: 24px;
	cursor: pointer;
}

#game-field {
	font-family: 'Architects Daughter', cursive;
	font-size: 96px;
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 12px;
}

.cell {
	color: var(--color-main-dark);
	background-color: var(--color-main-light);
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 0.2s;
}

.cell:empty:hover {
	cursor: pointer; 
	box-shadow: 0 2px 8px 3px rgba(41, 50, 65, 0.2);
}

.cell:not(:empty):active {
	animation: shake 0.1s; 
}

.cell.win {
	color: var(--color-black);
	background-color: var(--color-accent);
}

#menu {
	display: flex;
	gap: 148px;
}

button {
	width: 200px;
	border: none;
	background-color: var(--color-black);
	color: var(--color-bg);
	font-size: 1.4rem;
	padding: 16px 32px;
	border-radius: 32px;
	box-shadow: 0 4px 10px 2px rgba(41, 50, 65, 0.2);
	transition-duration: 0.2s;
	cursor: pointer;
}

button:hover {
	background-color: var(--color-accent);
	color: white;
}

button:disabled {
	cursor: not-allowed;
	background-color: var(--color-main-light);
	box-shadow: none;
}

#new-game-btn {
	background-color: var(--color-main-dark);
}